<div class="layout-holder__content">
  <div class="layout-holder__content__header">
    <!-- <a href="#" class="logo">
          <img src="../../../assets/images/apple-touch-icon.png" class="logo-img" style="left:0 !important;position:static;"  alt="logo">
      </a> -->
  </div>
  <div class="layout-holder__content__body ">
    <img style="width: 50%;height:65%;" src=".././../../assets/images/success.svg" alt="success">

    <h3 class="action-status__info__title">Sorğunuz uğurla tamamlandı.</h3>
    <a href="#" class="btn btn-fluid btn-primary">ANA SƏHİFƏ</a>
    <div class="layout-holder__content__footer">
      <span class="layout-holder__content__footer__copyright mt-20">2020 © YAŞAT fondunun rəsmi internet saytı. Müəllif
        hüquqları qorunur.</span>
    </div>
  </div>
</div>
