<div class="layout-holder__content">
  <div class="layout-holder__content__header">
  </div>
  <div class="layout-holder__content__body">
    <h1 class="layout-holder__content__body__form__head__title">Şəhid ailələri və yaralılarla görüş </h1>
    <h2>Şəhidin şəxsi məlumatları</h2>

    <form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">
      <div fxLayout="row wrap">

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline">
            <mat-label>Ad</mat-label>
            <input matInput formControlName="name" maxlength="50" />
            <mat-error *ngIf="form.get('name')?.errors?.required"> Xana bosh ola bilmez </mat-error>
            <mat-error *ngIf="form.get('name')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
          </mat-form-field>

        </div>

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline">
            <mat-label>Soyad</mat-label>
            <input matInput formControlName="surname" maxlength="50" />
            <mat-error *ngIf="form.get('surname')?.errors?.required"> Xana bosh ola bilmez </mat-error>
            <mat-error *ngIf="form.get('surname')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline">
            <mat-label>Ata adı</mat-label>
            <input matInput formControlName="fathername" maxlength="50" />
            <mat-error *ngIf="form.get('fathername')?.errors?.required"> Xana bosh ola bilmez </mat-error>
            <mat-error *ngIf="form.get('fathername')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline" class="w-100 sm">
            <mat-label>Doğum tarixi</mat-label>
            <input matInput [matDatepicker]="martyrBirthdatePicker" formControlName="birthdate" appMaskDate>
            <mat-datepicker-toggle matSuffix [for]="martyrBirthdatePicker"></mat-datepicker-toggle>
            <mat-datepicker #martyrBirthdatePicker></mat-datepicker>
            <mat-error *ngIf="form.get('birthdate')?.errors?.required"> Xana bosh ola bilmez </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline">
            <mat-label>Yaşadığı ünvan</mat-label>
            <input matInput formControlName="familyAddress" maxlength="50" />
            <mat-error *ngIf="form.get('familyAddress')?.errors?.required"> Xana bosh ola bilmez </mat-error>
            <mat-error *ngIf="form.get('familyAddress')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>

          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline">
            <mat-label>Əlaqə vasitəsi</mat-label>
            <input matInput formControlName="contactInfo" maxlength="50" appMaskPhoneNumber/>
            <mat-error *ngIf="form.get('contactInfo')?.errors?.required"> Xana bosh ola bilmez </mat-error>
            <mat-error *ngIf="form.get('contactInfo')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline">
            <mat-label>FİN nömrə və ya hərbi biletin nömrəsi</mat-label>
            <input matInput formControlName="fin" maxlength="7" />
            <mat-error *ngIf="form.get('fin')?.errors?.required"> Xana bosh ola bilmez </mat-error>
            <mat-error *ngIf="form.get('fin')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline">
            <mat-label>Şəhid olduğu rayon</mat-label>
            <mat-select formControlName="regionId">
              <mat-option [value]="">-</mat-option>
              <mat-option [value]="1">
                Gubadli
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxFlex="50" class="pr-2">
          <mat-form-field appearance="outline" class="w-100 sm">
            <mat-label>Şəhid olduğu tarix</mat-label>
            <input matInput [matDatepicker]="martyrDeathDatePicker" formControlName="dateOfMartyrdomOrVeteran"
              appMaskDate>
            <mat-datepicker-toggle matSuffix [for]="martyrDeathDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #martyrDeathDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-2">
          <div class="fileupload">
            <span class="fileupload-placeholder">Şəxsiyyət vəsiqəsinin və ya hərbi biletin şəkli</span>
            <label for="file" class="fileupload-button btn btn-small btn-primary"
              (click)="martyrInput.click()">Yüklə<input #martyrInput type="file"
                (change)="onSelectMilitaryId($event)" ></label>
          </div>
        </div>
        <div fxFlex="50" fxFlexOffset="50" class="pl-2"><span class="material-icons c-red" (click)="clearId()">
            clear</span> {{martyrName ? martyrName : 'photo' }}</div>



        <h2>Şəhidin dövlət tərəfindən təltif, orden, medal və ya fəxri ad alıbsa aldığı tarix</h2>
        <mat-card>#1</mat-card>

        <div class="w-100" formArrayName="rewards"
          *ngFor="let reward of this.form.get('rewards')['controls']; let i=index">
          <div fxLayout="row wrap" [formGroupName]="i">
            <div fxFlex="50" class="pr-2">
              <mat-form-field appearance="outline">
                <mat-label>Fəxri adın təsviri </mat-label>
                <input matInput formControlName="name" />
                <mat-error *ngIf="form.get('name')?.errors?.required"> Xana bosh ola bilmez </mat-error>
                <mat-error *ngIf="form.get('name')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-2">
              <mat-form-field appearance="outline" class="w-100 sm">
                <mat-label>Tarix</mat-label>
                <input matInput [matDatepicker]="honorDatePicker" formControlName="date" appMaskDate required>
                <mat-datepicker-toggle matSuffix [for]="honorDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #honorDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>


        <button type="button" class="btn btn-fluid btn-transparent" (click)="addRewards()">Əlavə et</button>

        <h2>Şəhidin övladları haqqında məlumat</h2>
        <mat-card>#1</mat-card>

        <div formArrayName="children" *ngFor="let child of this.form.get('children')['controls']; let i=index">
          <div fxLayout="row wrap" [formGroupName]="i">
            <div fxFlex="100" class="input-wrapper m-b-20">
              <p>Cinsi</p>
              <mat-radio-group formControlName="gender">
                <mat-radio-button value="1">Kisi</mat-radio-button>
                <mat-radio-button value="2">Qadin</mat-radio-button>
              </mat-radio-group>

            </div>

            <div fxFlex="50" class="pr-2">
              <mat-form-field appearance="outline">
                <mat-label>Adı</mat-label>
                <input matInput formControlName="name" maxlength="50" />
                <mat-error *ngIf="form.get('name')?.errors?.required"> Xana bosh ola bilmez </mat-error>
                <mat-error *ngIf="form.get('name')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-2">
              <mat-form-field appearance="outline">
                <mat-label>Soyadı</mat-label>
                <input matInput formControlName="surname" maxlength="50" />
                <mat-error *ngIf="form.get('surname')?.errors?.required"> Xana bosh ola bilmez </mat-error>
                <mat-error *ngIf="form.get('surname')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-2">
              <mat-form-field appearance="outline">
                <mat-label>Fin kod</mat-label>
                <input matInput formControlName="fin" maxlength="7" />
                <mat-error *ngIf="form.get('fin')?.errors?.required"> Xana bosh ola bilmez </mat-error>
                <mat-error *ngIf="form.get('fin')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-2">
              <mat-form-field appearance="outline" class="w-100 sm">
                <mat-label>Doğum tarixi</mat-label>
                <input matInput [matDatepicker]="childbirthdate" formControlName="birthdate" appMaskDate required>
                <mat-datepicker-toggle matSuffix [for]="childbirthdate"></mat-datepicker-toggle>
                <mat-datepicker #childbirthdate></mat-datepicker>
              </mat-form-field>
            </div>


            <div fxFlex="100" class="m-20">
              <div class=" w-95 fileupload">
                <span class="fileupload-placeholder">Şəxsiyyət vəsiqəsinin şəkili (yalnız ön tərəf)</span>
                <label for="file" class=" fileupload-button btn btn-small btn-primary"
                  (click)="childInput.click()">Yüklə<input #childInput type="file" 
                    (change)="onSelectId($event,i)"></label>
              </div>
            </div>

         <div fxFlex="50"> <span class="material-icons c-red pl-2" (click)="clearChildId(i)"> clear</span> {{childImage ? childImage : 'photo' }} </div>
        
          </div>
            
        </div>


        <button type="button" class="btn btn-fluid btn-transparent m-20" (click)="addChild()">Əlavə et</button>
        <h2>Ailə üzvlərinin mülkiyyətində olan mənzil və ya fərdi evi haqqında məlumat</h2>
        <mat-card>#1</mat-card>


        <div class="w-100" formArrayName="apartments"
          *ngFor="let apartment of this.form.get('apartments')['controls']; let i=index">
          <div fxLayout="row wrap" [formGroupName]="i">
            <h3 class="layout-holder-h3"> Mənzil və ya fərdi evin əsas məlumatları</h3>
            <div fxFlex="100" class=" m-b-20">
              <mat-radio-group formControlName="hasDocument">
                <mat-radio-button value="true">Sənədli</mat-radio-button>
                <mat-radio-button value="false">Sənədsiz</mat-radio-button>
              </mat-radio-group>
            </div>


            <div fxFlex="33.3" class="pr-2">
              <mat-form-field appearance="outline">
                <mat-label>Yaşayan şəxslərin sayı</mat-label>
                <input matInput formControlName="peopleCount" type="number" maxlength="50" />
                <mat-error *ngIf="form.get('peopleCount')?.errors?.required"> Xana bosh ola bilmez </mat-error>
                <mat-error *ngIf="form.get('peopleCount')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="33.3" class="pr-2">
              <mat-form-field appearance="outline">
                <mat-label>Ümumi sahəsi (kV)</mat-label>
                <input matInput formControlName="totalArea" type="number" maxlength="50" />
                <mat-error *ngIf="form.get('peopleCount')?.errors?.required"> Xana bosh ola bilmez </mat-error>
                <mat-error *ngIf="form.get('peopleCount')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="33.3">
              <mat-form-field appearance="outline">
                <mat-label>Otaq sayı</mat-label>
                <input matInput formControlName="roomCount" type="number" maxlength="7" />
                <mat-error *ngIf="form.get('fin')?.errors?.required"> Xana bosh ola bilmez </mat-error>
                <mat-error *ngIf="form.get('fin')?.errors?.minlength"> Minimum 2 simvol daxil edin </mat-error>
              </mat-form-field>
            </div>
            <h3 class="layout-holder-h3">Mənzil və ya fərdi evin şəkilləri</h3>
            <div fxFlex="100" class="m-20" formArrayName="photos">
              <div class=" w-95 fileupload">
                <span class="fileupload-placeholder">Fayl</span>
                <label for="file" class=" fileupload-button btn btn-small btn-primary"
                  (click)="homeInput.click()">Yüklə<input #homeInput type="file"
                    (change)="onSelectHome($event,i)"></label>
              </div>
            </div>
            <div fxFlex="50"> <span class="material-icons c-red pl-2"> clear</span> {{home ? home : 'photo' }} </div>

          </div>
        </div>

        <button type="button" class="btn btn-fluid btn-transparent m-20" (click)="addApartment()">Əlavə et</button>
        <button class="btn btn-fluid btn-primary m-20" type="submit">GÖNDƏR</button>
        <div class="layout-holder__content__footer">
          <span class="layout-holder__content__footer__copyright">2020 © YAŞAT fondunun rəsmi internet
            saytı. Müəllif hüquqları qorunur.</span>
        </div>

      </div>

    </form>
  </div>

</div>
